# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local

# IDE / Editor
.vscode/
.idea/

# Node modules
node_modules/

# Python cache
__pycache__/
*.pyc

# Django
db.sqlite3
media/
staticfiles/

# Build folders
dist/
build/
